@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --yellow: hsl(53, 93%, 54%);
  --white: hsl(0, 0%, 98%);
  --light-black: hsl(0, 0%, 26%);
  --black: hsl(0, 0%, 8%);
  --success-color: hsl(198, 72%, 56%);
  --help-color: hsl(198, 35%, 75%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  display: flex;
  justify-content: center;
}

.container {
  width: 1000px;
  padding: 4em 0em;
}

@media (width <= 1100px) {
  .container {
    width: 90%;
  }
}

.title {
  margin-bottom: 2em;
}

.title h1 {
  font-size: clamp(2rem, 4vw, 2.285rem);
  line-height: 1.2;
}

.title p {
  margin-top: 0.5em;
  font-size: clamp(1.15rem, 3vw, 1.25rem);
  font-weight: 300;
  line-height: 1.5;
}

@media (width >= 1100px) {
  .title p {
    max-width: 66%;
  }
}

.categories ul {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.categories li {
  list-style: none;
  background: var(--light-black);
  border-radius: 5px;
  font-size: clamp(1.05rem, 2vw, 1.15rem);
  padding: 0.75em 1em;
  cursor: pointer;
}

@media (max-width: 500px) {
  .categories li {
    width: 100%;
  }
}

.success {
  font-weight: 700;
  color: var(--black);
  background: var(--yellow) !important;
}

.directions {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  border-radius: 5px;
}

.yellow,
.light-black {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.yellow p,
.light-black p {
  font-size: 1rem;
  font-weight: 300;
}

/* .yellow p {
  color: var(--yellow);
}

.light-black p {
  color: var(--light-black);
} */

.y-clr,
.lb-clr {
  width: 1.5em;
  height: 1.5em;
  border-radius: 5px;
}

.y-clr {
  background: var(--yellow);
}

.lb-clr {
  background: var(--light-black);
}
